
            <form method="post" class="form-horizontal" role="form" name="a-la-cart-n-offerForm" data-ng-submit="submitForm(a-la-cart-n-offerForm.$valid)" novalidate>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <input type="hidden" name="ld_Id" class="form-control" data-ng-model="PackageId">
                        </div>
                        <div class="portlet">
                            <div class="portlet-content">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5" ><legend style="font-size: 12px; font-weight: bold">Downloadable Content Type</legend></div>
                                        <div class="col-md-4" ><legend style="font-size: 12px; font-weight: bold">Streaming Content Type</legend></div>
                                    </div>
                                    <div class="row" ng-repeat="ContentType in ContentTypes">
                                        <div class="col-md-2">
                                            <div class="row"><div class="form-group col-md-12">
                                                <label class="col-md-12 control-label" style="margin: 1px;">{{ContentType.cd_name}}</label>
                                            </div></div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="row"><div class="form-group col-md-12">
                                                <select data-ng-options="item.ap_id as item.ap_plan_name for item in alacartData | filter:{cd_name:'{{ContentType.cd_name}}'} | filter:{delivery_type_name:'Download'}" class="form-control" data-ng-model="alacartPlanIds[ContentType.cd_id].download"  >
                                                    <option value="">--Select Download Plan for {{ContentType.cd_name}} or it's Free--</option>
                                                </select>
                                            </div></div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="row"><div class="form-group col-md-12" ng-show="ContentType.parent_name == 'Audio' || ContentType.parent_name == 'Video'" >
                                                <select data-ng-options="item.ap_id as item.ap_plan_name for item in alacartData  | filter:{cd_name:'{{ContentType.cd_name}}'} | filter:{delivery_type_name:'Streaming'}" class="form-control" data-ng-model="alacartPlanIds[ContentType.cd_id].streaming" >
                                                    <option value="">--Select Streaming Plan for {{ContentType.cd_name}} or it's Free--</option>
                                                </select>
                                            </div></div>
                                        </div>
                                    </div>
                                </div> <!-- /.row -->
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>

