<form method="post" class="form-horizontal" role="form" name="alacartnofferForm" data-ng-submit="submitAlacartForm(alacartnofferForm.$valid)" novalidate>
    <div class="row">
        <div class="col-md-2">
            <!-- <input type="text" name="paosId" class="form-control" data-ng-model="paosId"> -->
        </div>
        <div class="col-md-8 col-xs-12">
            <div ng-show="alacartPackPlans != 'NoAlaCart'" class="portlet">
                <div class="portlet-content">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12" ><fieldset style="font-size: 12px; font-weight: bold">Downloadable Content Type</fieldset></div>
                        </div>
                        <div class="row" ng-show="downloadContentTypes.length == 0">
                            <center>No Download Content Types selected for the store.</center>
                        </div>
                        <div class="row" ng-repeat="ContentType in ContentTypes">
                            <div class="col-md-2">
                                <div class="row"><div class="form-group col-md-12">
                                    <label class="col-md-12 control-label" style="margin: 1px;">{{ContentType.cd_name}}</label>
                                </div></div>
                            </div>
                            <div class="col-md-5">
                                <div class="row"><div class="form-group col-md-12">
                                    <select style="width:120%" data-ng-options="item.ap_id as item.ap_plan_name for item in alacartPackPlans | filter:{content_type_name:'{{ContentType.cd_name}}'} | filter:{delivery_type_name:'Download'}" class="form-control" data-ng-model="alacartPlanIds[ContentType.cd_id].download"  >
                                        <option value="">--Select One Plan--</option>
                                    </select>
                                </div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="alacartPackPlans != 'NoAlaCart'" class="portlet" >
                <div class="portlet-content">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12" ><fieldset style="font-size: 12px; font-weight: bold">Streaming Content Type</fieldset></div>
                        </div>
                        <div class="row" ng-show="streamingContentTypes.length == 0">
                            <center>No Streaming Content Types selected for the store.</center>
                        </div>
                        <div class="row" ng-repeat="ContentType in ContentTypes | filterWithOr:{parent_name:['Audio','Video'] }"> <!--| filter:showDeliveryTypes-->
                            
                            <div class="col-md-2">
                                <div class="row"><div class="form-group col-md-12">
                                    <label class="col-md-12 control-label" style="margin: 1px;">{{ContentType.cd_name}}</label>
                                </div></div>
                            </div>
                            <div class="col-md-5">
                                <div class="row"><div class="form-group col-md-12" >
                                    <select style="width:120%" data-ng-options="item.ap_id as item.ap_plan_name for item in alacartPackPlans  | filter:{content_type_name:'{{ContentType.cd_name}}'} | filter:{delivery_type_name:'Streaming'}" class="form-control" data-ng-model="alacartPlanIds[ContentType.cd_id].streaming" >
                                        <option value="">--Select One Plan--</option>
                                    </select>
                                </div></div>
                            </div>
                        </div>
                    </div> <!-- /.row -->
                </div>
            </div>
             <div ng-if="alacartPackPlans == 'NoAlaCart'" class="portlet">
                <div class="portlet-content">
                    <div class="col-md-12">
                        <div style="color:red;text-align:center">
                                <strong>AlaCart Plan Rights not assigned to the store.</strong>
                            </div> 
                    </div>
                </div>
            </div>
            <div class="portlet">
                <div class="portlet-content">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="row"><div class="form-group col-md-12">
                                    <label class="col-md-12 control-label" style="margin: 1px;">Offer Plan</label>
                                </div></div>
                            </div>
                            <div class="col-md-5">
                                <div class="row"><div class="form-group col-md-12" >
                                    <select style="width:120%" data-ng-options="item.op_id as item.op_plan_name for item in OfferData" class="form-control" data-ng-model="offerId" >
                                        <option value="">--Select Offer Plan--</option>
                                    </select>
                                </div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-5 col-md-7" >
                <button type="submit" class="btn btn-primary btn-w-md" title="Save">Submit</button>
                <button type="button" class="btn btn-small" ng-click="nextButtonPressed = 1;submitAlacartForm(alacartnofferForm.$valid);">Next</button>
                <button type="button" class="btn btn-default btn-w-md" title="Reset" data-ng-click="resetForm()">Reset</button>
            </div>
        </div>
    </div>
</form>
