<form method="post" class="form-horizontal" role="form" name="notificationForm" data-ng-submit="submitNotificationForm(notificationForm.$valid)" novalidate>
    <div class="row">
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-10 col-xs-10">
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="errorvisible" style="color: red;">{{error}} </span>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="successvisible" style="color: green;">{{success}} </span>
            <div class="portlet">
                <div class="portlet-content">
                    <div class="col-md-12">
                        <label for="after" class="col-sm-5 control-label">After:</label>
                        <div class="col-md-5">
                            <input type="number" name="input" ng-model="days" placeholder="Day" min="0" max="99" required>
                            <input type="number" name="input" ng-model="hours" placeholder="Hours" min="1" max="24" required>
                            <label>of Plan start </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br>
                        <label for="contents" class="col-sm-5 control-label">If no of contents downloaded are: </label>
                        <div class="col-md-2">

                            <select id="count" type="text" name="operator" class="form-control input-sm" ng-model="selectedCount" data-ng-options="item.id as item.option_name for item in counts">
                            <option value=""> --Select-- </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select id="percent" type="percent" name="percent" class="form-control input-sm" ng-model="selectedPercent" data-ng-if="selectedCount != 3"  data-ng-options="item.id as item.option_name for item in percent">
                            <option value=""> --Select-- </option>
                            </select>
                            <select id="percent1" type="percent" name="percent" class="form-control input-sm" ng-model="selectedPercent" data-ng-if="selectedCount == 3" data-ng-init="selectedPercent = 0">
                                </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <br>
                        <label for="message" class="col-sm-5 control-label"  >Message text: </label>
                        <div class="col-md-5">
                            <textarea rows="4" cols="50" name="messagetext" ng-model="messagetext" required></textarea>
                            <span style="color: red" ng-show="notificationForm.$submitted || notificationForm.messagetext.$dirty">
                                <span ng-show="notificationForm.messagetext.$error.required">Please Input text .</span>
                                </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br>
                        <label for="count words"class="col-sm-5 control-label">No. of text:</label>
                        <div class="col-md-5">
                            <input type="number" value="{{messagetext.length}}" readonly/>
                        </div>
                    </div>
                    <div class="col-md-12">
                         <br>
                         <label for="push between" class="col-sm-5 control-label"> Push Between: </label>
                         <div class="col-md-5">
                             <input type="time" id="Input" name="input" ng-model="startingTime" placeholder="HH:mm:ss" min="00:00:00" max="24:00:00" required />
                          <label>To:</label>
                             <input type="time" id="exampleInput" name="input" ng-model="endingTime" placeholder="HH:mm:ss" min="00:00:00" max="24:00:00" required />
                         </div>
                    </div>

                     <div class="col-md-12">
                          <br>
                          <label for="push" class="col-sm-5 control-label"> Push: </label>
                          <div class="col-md-5">
                              <select  id="push" ng-show="selectedCount != undefined && selectedCount != null && selectedPercent != undefined && selectedPercent != null"  class="form-control input-sm" ng-model="selectedPush" data-ng-options="item.id as item.option_name for item in push" >
                              </select>
                              <select  id="push1" ng-show="selectedCount == undefined || selectedCount == null || selectedPercent == undefined || selectedPercent == null"  class="form-control input-sm" ng-model="selectedPush" >
                                <option value="0" ng-selected="selectedCount == undefined || selectedCount == null || selectedPercent == undefined || selectedPercent == null">Once a day</option>
                              </select>
                          </div>

                     </div>
                </div> <!-- /.row -->
            </div>
        </div>
    </div>
        <div class="col-md-1 col-xs-1"></div>
    </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-5 col-md-7" >
                <button ng-show="edit_state == true" class="btn btn-primary btn-w-md"data-ng-click="update()" title="update">Update</button>
                <button ng-hide="edit_state == true" type="submit" class="btn btn-primary btn-w-md" title="add">Add</button>
                <button ng-hide="edit_state == true" class="btn btn-small">Add More<span ></button>
                <button ng-hide="edit_state == true" type="reset" class="btn btn-default btn-w-md" title="Reset" data-ng-click="resetForm()">Reset</button>
            </div>
        </div>
    </div>
</form>

