<form method="post" class="form-horizontal" role="form" name="notificationForm" data-ng-submit="submitNotificationForm(notificationForm.$valid)" ng-init="daysmin=1;daysmax=99 " novalidate>
    <div class="row">
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-10 col-xs-10">
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="errorvisible" style="color: red;">{{error}} </span>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="successvisible" style="color: green;">{{success}} </span>
            <div class="portlet">
                <div class="portlet-content">
                    <div class="col-md-12">
                        <label for="after" class="col-sm-5 control-label">After:</label>
                        <div class="col-md-5">
                         <!--    <input type="text" ng-model="pnId"  /> -->

                            <input type="number" name="daysInput" ng-model="days" data-ng-change="getPushData()" placeholder="Day" min="1" max="99" >
                            <input type="number" name="hoursInput" ng-model="hours"  data-ng-change="getPushData()" placeholder="Hours" min="1" max="24" >
                            <label>of Plan start </label>
                        </div>
                    </div>
                    <div class="col-sm-offset-5 col-sm-9">
                         <span style="color: red" ng-show="notificationForm.$submitted || notificationForm.daysInput.$dirty">
                            <span ng-hide="notificationForm.daysInput.$valid">The days should be in range from 1 to 99</span>
                            </span><br>
                          <span style="color: red" ng-show="notificationForm.$submitted || notificationForm.hoursInput.$dirty">
                            <span ng-hide="notificationForm.hoursInput.$valid">The hours should be in range from 1 to 24</span>
                          </span>
                    </div>
                    <div class="col-md-12">
                        <br>
                        <label for="contents" class="col-sm-5 control-label">If no. of contents downloaded are: </label>
                        <div class="col-md-2">

                            <select id="count" type="text" name="operator" class="form-control input-sm" data-ng-change="getPushData()"  ng-model="selectedCount" data-ng-options="item.id as item.option_name for item in counts">
                            <option value=""> --Select-- </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select id="percent" type="percent" name="percent" class="form-control input-sm" data-ng-change="getPushData()"  ng-hide="selectedCount == 3"  ng-model="selectedPercent"   data-ng-options="item.id as item.option_name for item in percent">
                            <option value=""> --Select-- </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <br>
                        <label for="message" class="col-sm-5 control-label"  >Message text: </label>
                        <div class="col-md-5">
                            <textarea rows="4" cols="50" maxlength="152" name="messagetext" ng-model="messagetext" required></textarea>
                            <span style="color: red" ng-show="notificationForm.$submitted || notificationForm.messagetext.$dirty">
                                <span ng-show="notificationForm.messagetext.$error.required"></span>
                                </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br>
                        <label for="count words"class="col-sm-5 control-label">No. of text:</label>
                        <div class="col-md-5">
                            <input type="number" style="width:40px" value="{{152 - messagetext.length}}" readonly/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br>
                        <label for="keywords"class="col-sm-5 control-label">Keywords:</label>
                        <div class="col-md-5">
                            <span>&nbsp;</span>
                            <span>&lt;CD&gt; - No. of content downloaded</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                         <br>
                         <label for="push between" class="col-sm-5 control-label"> Push Between: </label>
                         <div class="col-md-5">
                             <input type="time" id="Input" name="input" ng-model="startingTime" placeholder="HH:mm:ss" min="00:00:00" max="24:00:00" required />
                          <label>To:</label>
                             <input type="time" id="exampleInput" name="input" ng-model="endingTime" placeholder="HH:mm:ss" min="00:00:00" max="24:00:00" required />
                         </div>
                    </div>

                     <div class="col-md-12">
                          <br>
                          <label for="push" class="col-sm-5 control-label"> Push: </label>
                          <div class="col-md-5">
                              <select  id="push"  class="form-control input-sm" ng-model="selectedPush" data-ng-options="item.id as item.option_name for item in push" >
                              </select>
                          </div>

                     </div>
                </div> <!-- /.row -->
            </div>
        </div>
    </div>
        <div class="col-md-1 col-xs-1"></div>
    </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-5 col-md-7" >
                <button ng-show="edit_state == true"  type="submit" class="btn btn-primary btn-w-md" title="update">Update</button>
                <button ng-hide="edit_state == true" type="submit" class="btn btn-primary btn-w-md" title="add">Add</button>
                <input type="submit" value="AddMore" ng-hide="edit_state == true"  class="btn btn-default btn-w-md" data-ng-click="addMore()" />
                <button ng-hide="edit_state == true" type="reset" id="reset_btn" class="btn btn-default btn-w-md" title="Reset" data-ng-click="resetForm()">Reset</button>
            </div>
        </div>
    </div>
</form>