<form method="post" class="form-horizontal" role="form" name="advanceSettingForm" data-ng-submit="submitAdvanceSettingForm(advanceSettingForm.$valid)" novalidate>
    <div class="row" style="margin-left:20%">
        <div class="col-md-8 col-xs-12">
            <div class="form-group">
                <input type="hidden" name="ld_Id" class="form-control" data-ng-model="PackageId">
            </div>

            <span class="col-sm-offset-3 col-sm-9" data-ng-show="errorvisible" style="color: red;">{{error}} </span>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="successvisible" style="color: green;">{{success}} </span>
            <div class="portlet">
                <div class="portlet-content">
                    <div class="col-md-12" ng-hide="offerPlan.length == 0">
                        <label for="offerPlan" class=" control-label">Offer Plan : {{offerPlan[0].op_plan_name}} </label>
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th style="width:30px;" class="text-center">Content Type</th>
                                <th style="width:30px;" class="text-center">Buy</th>
                                <th style="width:30px;" class="text-center">Get</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in contentTypes">
                                <td style="width:30px;">{{item.cd_name}}</td>
                                <td style="width:30px;">
                                    <!-- {{offerBuySetting[0][152] = 2}} -->
                                    <!-- {{offerBuySetting}} -->
                                    <input type="text" ng-model="offerBuySetting[$index][item.cd_id]" name="offerbuy_{{$index}}" ng-change="offerBuy(item.cd_id)" class="form-control" ng-pattern="/^([0-9]+|BAL)$/" required />
                                                     <span style="color: red" ng-show="advanceSettingForm.$submitted || advanceSettingForm.offerbuy_{{$index}}.$dirty">
                                                        <span ng-show="advanceSettingForm.offerbuy_{{$index}}.$error.pattern">Please use numbers or BAL in offer buy only</span>
                                                        <span ng-show="advanceSettingForm.offerbuy_{{$index}}.$error.required">This field is required.</span>
                                                    </span>
                                </td>
                                <td style="width:30px;">
                                    <input type="text" name="offerget_{{$index}}" ng-model="offerGetSetting[$index][item.cd_id]" ng-change="offerGet(item.cd_id)" ng-pattern="/^([0-9]+|BAL)$/" class="form-control" required />
                                                    <span style="color: red" ng-show="advanceSettingForm.$submitted || advanceSettingForm.offerget_{{$index}}.$dirty">
                                                        <span ng-show="advanceSettingForm.offerget_{{$index}}.$error.pattern">Please use numbers or BAL in offer get only</span>
                                                        <span ng-show="advanceSettingForm.offerget_{{$index}}.$error.required">This field is required.</span>
                                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30px;"><b>Total</b></td>
                                <td style="width:30px;"><b>{{offerPlan[0].op_buy_item}}</b></td>
                                <td style="width:30px;"><b>{{offerPlan[0].op_free_item}}</b></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Value Pack Plans -->
                    <div class="col-md-12" ng-hide="valuePlans.length == 0">
                        <label for="valuePlans" class="col-sm-3 control-label">Value Pack Plans :  </label>
                        <table class="table table-striped table-bordered">
                            <thead >
                            <tr>
                                <th style="width:30px;" class="text-center">Content Type</th>
                                <th style="width:30px;" class="text-center" ng-repeat="item in valuePlans">{{item.vp_plan_name}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in contentTypes">
                                <td style="width:30px;" >{{item.cd_name}}</td>
                                <td style="width:30px;" ng-repeat="vp in valuePlans">
                                    <input  type="text" name="vp_{{vp.pvs_id}}_{{item.cd_id}}" ng-model="valuePlanSetting[vp.pvs_id][item.cd_id]"  class="form-control" ng-pattern="/^([0-9]+|BAL)$/" required />
                                            <span style="color: red" ng-show="advanceSettingForm.$submitted || advanceSettingForm.vp_{{pvs_id}}_{{item.cd_id}}.$dirty">
                                                <span ng-show="advanceSettingForm.vp_{{vp.pvs_id}}_{{item.cd_id}}.$error.pattern">Please use numbers or BAL in the field.</span>
                                                <span ng-show="advanceSettingForm.vp_{{vp.pvs_id}}_{{item.cd_id}}.$error.required">This field is required.</span>
                                            </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30px;"><b>Total</b></td>
                                <td style="width:30px;" ng-repeat="item in valuePlans">
                                    <b>{{item.vp_download_limit}}</b>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-show="offerPlan.length == 0 && valuePlans.length == 0">
                        No plans found for currently selected distibution channel and  package.
                        <br/>
                        If no distribution channel selected, please select one.
                    </div>
                    <div class="row col-md-12" ng-hide="offerPlan.length == 0 && valuePlans.length == 0">
                        Manage CG Images :
                        <!--  <form name="form">
                               Single Image with validations
                               <button ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                                 accept="image/*" ngf-max-size="20MB" ngf-min-height="100"
                                 ngf-resize="{width: 100, height: 100}">
                                     <i class="fa fa-upload" style="color:green" title="Select Files"></i>
                             </button>

                               <button  ng-click="filesubmit()">submit</button>
                         </form>
                         Image thumbnail: <img ngf-thumbnail="file || '/thumb.jpg'"> -->
                        <!-- <form name="form"> -->
                        <button  ngf-select ng-model="fileUploads[0]"
                                 accept="image/*" ngf-pattern="'.jpg,.png,.gif,.jpeg'" ngf-max-height="1000" ngf-max-size="1MB">
                            <i class="fa fa-upload" style="color:green" title="Select Files"></i>
                        </button>
                        <input type="button" value="Upload" ng-click="uploadSubmit(0)" />

                                          <span ng-if="cgimage != ''">
                                              <a class="fancybox grouped_elements" href="{{cgimage.pci_cg_img_browse}}" ng-if="cgimage != ''" >
                                                  <img ng-src="{{cgimage.pci_cg_img_browse}}" width="50"
                                                       height="50" />
                                              </a>
                                          </span>

                        <!-- <ul> -->
                        <br/>
                                            <span ng-repeat="f in fileUploads" style="font:smaller">
                                                {{f.name}}
                                                <span style="color:red">
                                                             {{f.$error}}  {{f.$errorParam}}
                                                          </span>
                                            </span>
                        <!-- </ul>   -->
                                        <span class="progress" style="color:green" id="progress_id">

                                        </span>
                        <!-- </form> -->
                    </div>

                </div> <!-- /.row -->
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-5 col-md-7" >
                <button type="submit" class="btn btn-primary btn-w-md" ng-disabled="offerPlan.length == 0 && valuePlans.length == 0" title="Save">Submit</button>
                <button type="button" class="btn btn-small" ng-click=" nextButtonPressed= 1; submitAdvanceSettingForm(advanceSettingForm.$valid);" ng-disable="dis()">{{buttonLabel}}</button>
                <button type="reset" ng-disabled="offerPlan.length == 0 && valuePlans.length == 0" class="btn btn-default btn-w-md" title="Reset" data-ng-click="resetForm()">Reset</button>
            </div>
        </div>
    </div>
</form>

