<div class="row">
<div class="col-md-1 col-xs-1"></div>
<div class="col-md-10 col-xs-10">
    <div class="table-responsive">
        <div id="user-exportable">
                            <span class="col-md-offset-3 col-md-9 col-xs-12"  data-ng-show="errorvisible" style="color: red;">{{error}}
                            </span>
                            <span class="col-md-offset-3 col-md-9 col-xs-12"  data-ng-show="successvisible" style="color: green;">{{success}}
                            </span>
            <table id="user-signups" class="table table-striped table-bordered table-checkable">
                <thead>
                <tr>
                    <th class="text-center">After</th>
                    <th class="text-center">Download</th>
                    <th class="text-center">Message</th>
                    <th class="text-center">Push Between</th>
                    <th class="text-center">Push</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody ng-hide="$root.n_selectedPlans == undefined || $root.n_selectedPlans == null || $root.n_selectedPlans == '' " dir-paginate="item in NotificationResult | itemsPerPage: 10">
                <tr >

                     <td class="col-md-1 col-xs-1 text-center"ng-if="item.pn_after_day != null || item.pn_after_day != undefined && item.pn_after_hour != null || item.pn_after_hour != undefined "> 
                         <span ng-show="item.pn_after_day > 0" >{{item.pn_after_day}}  day </span>
                        <span ng-show="item.pn_after_hour > 0" >{{item.pn_after_hour}} hr </span> </td>
                    <td class="col-md-1 col-xs-1 text-center" ng-if="item.pn_after_day == null && item.pn_after_day == undefined && item.pn_after_hour == null && item.pn_after_hour == undefined "> - </td>
                    <td class="col-md-1 col-xs-1 text-center" ng-if="item.pn_cnt_logical_operator == 0"> < {{item.pn_cnt_conditional_usage}}% </td>
                    <td class="col-md-1 col-xs-1 text-center" ng-if="item.pn_cnt_logical_operator == 1"> > {{item.pn_cnt_conditional_usage}}% </td>
                    <td class="col-md-1 col-xs-1 text-center" ng-if="item.pn_cnt_logical_operator == 2"> equal to {{item.pn_cnt_conditional_usage}}% </td>
                    <td class="col-md-1 col-xs-1 text-center" ng-if="item.pn_cnt_logical_operator == 3"> N.A. </td>
                    <td class="col-md-1 col-xs-1 text-center" ng-if="item.pn_cnt_logical_operator == null"> - </td>
                    <td class="col-md-4 col-xs-4 " style=" max-width: 43px ;word-wrap: break-word;">{{item.pn_message}}</td>
                    <td class="col-md-2 col-xs-2 text-center" >{{item.pn_pf }} to {{item.pn_pt}}</td>
                    <td class="col-md-1 col-xs-1 text-center">{{item.pn_push_type+1}}</td>
                    <td>
                        <div class="row">
                            <div  class="col-md-1 col-xs-1"></div>
                            <div  class="col-md-3 col-xs-3 text-center" ng-hide="item.pn_is_active == 0"><a href="" data-ng-click="EditNotification(item.pn_id,item.pn_sp_pkg_id,item.pn_plan_id,item.pn_plan_type)" title="Edit"><i class="fa fa-edit" title="Edit"></i></a></div>
                            <div class="col-md-3 col-xs-3 text-center" data-ng-if="item.pn_is_active == 1" class="text-right"><a href="" title="Click To Block" data-ng-click="BlockUnBlockContentType(item.pn_id,item.pn_is_active)"><i class="fa fa-ban text-right red" style="color: green;"></i></a></div>
                            <div class="col-md-3 col-xs-3 text-center " data-ng-if="item.pn_is_active == 0" class="text-right"><a href="" title="Click To UnBlock" data-ng-click="BlockUnBlockContentType(item.pn_id,item.pn_is_active)"> <i class="fa fa-ban text-right green" style="color: red;"></i></a></div>
                            <div class="col-md-3 col-xs-3 text-center"><a href="" data-ng-click="Delete(item.pn_id)" title="Delete"><i class="fa fa-trash-o " title="Delete"></i></a></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<div ng-show=" NotificationResult.length == 0">
    <span style="margin-left:40%">No records found for the search.</span>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="col-xs-4 col-md-4">
            <!-- <button type="button" class="btn btn-primary btn-w-xs" title="Previous" data-ng-disabled="listcurrentPage == 0" data-ng-click="listcurrentPage=listcurrentPage-1">Previous</button> -->
        </div>
        <div class="col-xs-4 col-md-4" ng-show="NotificationResult.length > 10 " ng-hide="$root.n_selectedPlans == undefined || $root.n_selectedPlans == null || $root.n_selectedPlans == '' ">
            <!-- <button type="button" class="btn btn-primary btn-w-xs" title="Download" data-ng-click="ExportPlan()">Download in excel</button> -->
            <dir-pagination-controls></dir-pagination-controls>
        </div>
        <div class="col-xs-4 col-md-4 text-right">
            <!-- <button type="button" class="btn btn-primary btn-w-xs" title="Next" data-ng-disabled="listcurrentPage >= packsList.length/listpageSize - 1" data-ng-click="listcurrentPage=listcurrentPage+1">Next</button> -->
        </div>
    </div>
</div>

</div>
</div>
</div>
</div>


