<div class="container">
    <div class="content">
        <div class="content-container">
            <div class="content-header">
                <h2 class="content-header-title">Main Site Package</h2>
            </div>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="errorvisible" style="color: red;">{{error}}</span>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="successvisible" style="color: green;">{{success}}</span>
            <div class="row">
                <div class="col-md-2" >
                    <div class="form-group">
                        <input type="text" name="pkg_id" class="form-control" data-ng-model="$root.PackageId" >
                        <input type="text" name="parent_pkg_id" class="form-control" data-ng-model="$root.ParentPackageId">
                        <input type="text" name="pkg_type" class="form-control" data-ng-model="$root.PackageType">
                    </div>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="portlet">
                        <div class="portlet-content">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="isChild" class="col-md-3 control-label">Mainsite Child</label>
                                    <div class="col-md-6">
                                        <input type="checkbox" name="isChild" value="1"  ng-model="isChild" ng-change="setPackageData()"  >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="distributionChannels" class="col-md-3 control-label">Deliver Channel</label>
                                    <div class="col-md-6">
                                        <select name="distributionChannels" data-ng-options="item.cd_id as item.cd_name for item in distributionChannels" class="form-control" data-ng-model="$root.distributionChannelId" ng-change="getPackageData()" >
                                            <option value=""> --Select Store-- </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="pack" class="col-md-3 control-label">Select Pack : </label>
                                    <div class="col-md-6">
                                        <select name="pack" class="form-control" data-ng-model="$root.packSelectedPack" data-ng-options="item.pk_id as item.pk_name for item in StorePacks"  required>
                                            <option value="">-- Select Pack  --</option>
                                        </select>
                                        <span style="color: red" ng-show="packForm.$submitted || packForm.packtype.$dirty">
                                            <span ng-show="packForm.packtype.$error.required">Please Select Pack.</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="packagename" class="col-md-3 control-label">Package Title : </label>
                                    <div class="col-md-6">
                                        <input type="text" name="packagename" class="form-control" data-ng-model="$root.packPackageName" placeholder="Enter Package name" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row" ng-show="isChild">
                <tabset>
                    <tab ng-repeat="tab in tabs" ui-sref="{{tab.state}}" active="tab.active"  select="setIndex($index)">
                        <tab-heading> {{tab.title}}   </tab-heading>
                    </tab>
                </tabset>
                <div ui-view style="min-height: 350px; border: 0px solid red"></div>
            </div>
        </div>
    </div>
</div>