<div class="container">
    <div class="content">
        <div class="content-container">
            <div class="content-header">
                <h2 class="content-header-title">Main Site Plans and Offers</h2>
            </div>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="errorvisible" style="color: red;">{{error}}</span>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="successvisible" style="color: green;">{{success}}</span>
            <span class="col-sm-offset-3 col-sm-9" > <strong>Select plans with Domain</strong></span>
            <div class="col-sm-offset-3 col-sm-9">
                <label for="repeatSelect"> Select Store: </label>
                {{selectedDistributionChannel}}
                <select data-ng-options="option.cd_id as option.cd_name for option in distributionChannels"
                        class="form-control"  name="distributionChannel" id="distributionChannel" data-ng-model="selectedDistributionChannel" required >
                    <option value=""> --Select Store-- </option>
                </select>

            </div>
            <tabset>
                <tab ng-repeat="tab in tabs" ui-sref="{{tab.state}}" active="tab.active"  select="setIndex($index)">
                    <tab-heading> {{tab.title}}   </tab-heading>
                </tab>
            </tabset>
            <div ui-view style="min-height: 350px; border: 0px solid red"></div>
        </div>

    </div>
</div>
