<div class="container">
    <div class="content">
        <div class="content-container">
            <div class="content-header">
                <h2 class="content-header-title">Notifications</h2>
            </div>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="errorvisible" style="color: red;">{{error}}</span>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="successvisible" style="color: green;">{{success}}</span>
            <div class="row">
                <div class="col-md-1 col-xs-1"></div>
                <div class="col-md-10 col-xs-10">
                    <div class="portlet">
                        <div class="portlet-content">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="distributionChannels" class="col-md-5 control-label">Deliver Channel:</label>
                                    <div class="col-md-6">
                                        <select name="distributionChannels" data-ng-options="item.cd_id as item.cd_name for item in distributionChannels" data-ng-change="OnDistributionChange()" class="form-control" data-ng-model="$root.n_distributionChannelId"  >
                                            <option value=""> --Select Store-- </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="site" class="col-md-5 control-label">Select Site : </label>
                                    <div class="col-md-6">
                                        <select name="pack" class="form-control" data-ng-model="$root.n_selectedPackage"  data-ng-change="OnPackageChange()" data-ng-options="item.sp_pkg_id as item.sp_package_name for item in packageName"  required>
                                            <option value="">-- Select Pack  --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="plan" class="col-md-5 control-label">Select Subscription/Value Pack Plan : </label>
                                    <div class="col-md-6">

                                        <select ng-show="$root.n_addNotification == true" name="plan" class="form-control" data-ng-model="$root.n_selectedPlans" multiple data-ng-options="item.plan_id as item.plan_name for item in plans"  required>
                                        </select>
                                        <select ng-change="$root.listnotification_onPlanChange()" ng-show="$root.n_addNotification == false" name="plan" class="form-control" data-ng-model="$root.n_selectedPlans" data-ng-options="item.plan_id as item.plan_name for item in plans"  required>
                                            <option value="">Please select plan</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>

            <tabset>
                <tab ng-repeat="tab in tabs" ui-sref="{{tab.state}}" active="tab.active"  select="setIndex($index)">
                    <tab-heading> {{tab.title}}   </tab-heading>
                </tab>
            </tabset>

            <div ui-view style="min-height: 350px; border: 0px solid red"></div>
        </div>

    </div>
</div>
