<div class="container">
    <div class="content">
        <div class="content-container">
            <div class="content-header">
                <h2 class="content-header-title">List Of Packages</h2>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="col-xs-4 col-md-4">
                    
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <div class="form-group">
                            <label for="distributionChannel" class="col-md-4 control-label"><span class="asterisk padding-right-5">*</span>Select Store</label>
                            <div class="col-md-7">                  
                                         
                                <select name="distributionChannel" data-ng-options="item.cd_id as item.cd_name for item in distributionChannelList" data-ng-change="distributionChannelChange()" data-ng-model="distributionChannel" >
                                    <option value="">SELECT THE VALUE</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-4 text-right">
                        
                    </div>
           
                    </div><br><br> <br>   
             <div class="row">
            	<h5 class="text-center"><u>Package Name Starts with :</u>
                        <a style="padding-left:7px;cursor:pointer" id="src_{{alpha}}" ng-click="searchStartsWith(alpha)" ng-repeat="alpha in alphabets track by $index">
                            {{alpha}}
                        </a>
                        <br/><br/>
                        <div ng-show="search_title.length > 0 && btn_clicked">
                            Showing Results For : "{{tag_search_title}}" <span ng-show="StartDate != '' && EndDate != '' && btn_clicked"> &nbsp; {{tag_StartDate | date:'dd-MMM-yyyy' }} - {{tag_EndDate | date:'dd-MMM-yyyy' }}</span>
                        </div>
                        <div ng-show="StartDate != '' && EndDate.length != '' && search_title.length == 0 && btn_clicked">
                            Showing Results From : {{tag_StartDate | date:'dd-MMM-yyyy'}} - {{tag_EndDate | date:'dd-MMM-yyyy'}} 
                        </div> 
                </h5>
                <div class="col-md-12 col-xs-12">
                <div class="table-responsive">
                        <div id="user-exportable">
                            <span class="col-md-offset-3 col-md-9 col-xs-12"  data-ng-show="errorvisible" style="color: red;">{{error}}
                            </span>
                            <span class="col-md-offset-3 col-md-9 col-xs-12"  data-ng-show="successvisible" style="color: green;">{{success}}
                            </span>
                            <table id="user-signups" class="table table-striped table-bordered table-checkable">
                                <thead>
                                    <tr>
                                        <th class="text-center">Sr No.</th>
                                        <th class="text-center">Package Name</th>
                                        <th class="text-center">Num Of Plans</th>
                                        <th class="text-center">Pack Used</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead> 
                                  <tbody dir-paginate="item in packageList | itemsPerPage: 8">
                                    <tr >
                                           
                                        <td class="col-md-1 col-xs-1 text-center">{{$index+1}}</td>
                                        <td class="col-md-3 col-xs-3">{{item.sp_package_name}}</td>
                                        <td class="col-md-2 col-xs-2 text-center">{{item.valuePackPlanCount + item.subscriptionPlanCount+item.alacartPackPlanCount}}</td>
                                        <td class="col-md-3 col-xs-3">{{item.packName}}</td>
                                         <td>
                                        <div class="row">

                                            <div ng-hide="item.sp_is_active == 0" class="col-md-4 col-xs-4  text-center"><a href="" data-ng-click="EditPackage(item.sp_pkg_id,item.sp_dc_id,item.sp_pkg_type)" title="Edit"><i class="fa fa-edit" title="Edit"></i></a></div>
                                            <div class="col-md-4 col-xs-4  text-center" ng-hide="item.sp_pkg_type == 0" data-ng-if="item.sp_is_active == 1" class="text-right"><a href="" title="Click To Block" data-ng-click="BlockUnBlockContentType(item.sp_pkg_id,item.sp_is_active)"><i class="fa fa-ban text-right red" style="color: green;"></i></a></div>
                                            <div class="col-md-4 col-xs-4 text-center " ng-hide="item.sp_pkg_type == 0" data-ng-if="item.sp_is_active == 0" class="text-right"><a href="" title="Click To UnBlock" data-ng-click="BlockUnBlockContentType(item.sp_pkg_id,item.sp_is_active)"> <i class="fa fa-ban text-right green" style="color: red;"></i></a></div>
                                            <div class="col-md-4 col-xs-4 text-center"><a href="" data-ng-click="Delete(item.sp_pkg_id)" title="Delete"><i class="fa fa-trash-o " title="Delete"></i></a></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
             <div ng-show="packageList.length == 0">
                        <span style="margin-left:40%">No records found for the search.</span>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="col-xs-4 col-md-4">
                        <!-- <button type="button" class="btn btn-primary btn-w-xs" title="Previous" data-ng-disabled="listcurrentPage == 0" data-ng-click="listcurrentPage=listcurrentPage-1">Previous</button> -->
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <!-- <button type="button" class="btn btn-primary btn-w-xs" title="Download" data-ng-click="ExportPlan()">Download in excel</button> -->
                              <dir-pagination-controls></dir-pagination-controls>
                    </div>
                    <div class="col-xs-4 col-md-4 text-right">
                        <!-- <button type="button" class="btn btn-primary btn-w-xs" title="Next" data-ng-disabled="listcurrentPage >= packsList.length/listpageSize - 1" data-ng-click="listcurrentPage=listcurrentPage+1">Next</button> -->
                    </div>
                </div>
            </div>
            <br/><br/>
                   <div class="portlet">
                        <div class="portlet-header">
                            <h3><i class="fa fa-search"></i>Search a Pack</h3>
                        </div>
                        <div class="portlet-content">
                                <div class="form-group">
                                    <div class="row">
                                        <label for="search_title" class="col-md-3 control-label">Text in Title:</label>
                                        <div class="col-md-4">
                                            <input type="text" name="search_title" ng-model="search_title"class="form-control" placeholder="Enter text" >
                                        </div>
                                    </div>
                                    <br/><br/>
                                    <div class="row">
                                        <label for="caption" class="col-md-3 control-label">
                                            Created/Updated between:
                                        </label>
                                            <div class="col-sm-3">
                                                <div class="input-group date">
                                                    <input type="text" name="start_date" class="form-control" bk-auto-focus datepicker-popup="yyyy-MM-dd" data-ng-model="StartDate" placeholder="Start date" data-ng-disabled="IsDisable" data-ng-click="openDatepicker($event)" data-is-open="open1" required />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" data-ng-click="openDatepicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </div>
                                        </div>
                                        <div class="col-sm-3">
                                                <div class="input-group date">
                                                    <input type="text" class="form-control" bk-auto-focus datepicker-popup="yyyy-MM-dd" data-ng-model="EndDate" placeholder="End date" data-ng-click="openEndDatepicker($event)" data-ng-disabled="IsDisable" data-is-open="open2" required />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" data-ng-click="openEndDatepicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </div>
                                        </div>
                                </div>
                                <div >
                                	 </div>
                        </div>
                        <br/><br/>
                        <div class="col-md-12 text-center">
                            <button type="button" ng-click="searchByTitle()" class="btn btn-default btn-w-xs" >Search</button>
                           
                        </div>
                    </div>

        </div>
    </div>
</div>
                                     
                               
