<form method="post" class="form-horizontal" role="form" name="subPackOfferForm" data-ng-submit="submitSubsPackForm(subPackOfferForm.$valid)" novalidate>
    <div class="row">
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-8 col-xs-8">
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="errorvisible" style="color: red;">{{error}} </span>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="successvisible" style="color: green;">{{success}} </span>
            <div ng-show="subscriptionPackPlans != 'NoSub'"  class="portlet">
                <div class="portlet-content">
                    <div  class="col-md-12">
                        <label for="valuePackPlan" class="col-sm-3 control-label">Select Subscription  pack</label>
                        <div class="col-md-5">
                                <select  data-ng-options="item.sp_id as item.sp_plan_name for item in subscriptionPackPlans"
                                        multiple class="form-control"  name="subscriptionPackPlan" id="subscriptionPackPlan" data-ng-model="selectedSubscriptionPlans"  >
                                </select>
                                <span style="color: red" data-ng-show="subPackOfferForm.$submitted || subPackOfferForm.subscriptionPackPlan.$dirty">
                                    <span ng-show="subPackOfferForm.subscriptionPackPlan.$error.required">Please Select subscription plan name.</span>
                                </span>
                            </div>
                        </div>
                    </div> <!-- /.row -->
                </div>
                <div ng-if="subscriptionPackPlans == 'NoSub'"  class="portlet">
                <div class="portlet-content">
                        <div  class="col-md-12">
                            <div style="color:red;text-align:center">
                                <strong>Subscription Plan Rights not assigned to the store.</strong>
                            </div>    
                        </div>
                    </div> <!-- /.row -->
                </div>
        </div>
        <div class="col-md-2 col-xs-2"></div>
    </div>
    </div>
    <div ng-show="subscriptionPackPlans != 'NoSub'"  class="row">
        <div class="col-md-12">
            <div class="col-md-offset-5 col-md-7" >
                <button type="submit" class="btn btn-primary btn-w-md" title="Save">Submit</button>
                <button type="button" class="btn btn-small" ng-click="nextButtonPressed = 1; submitSubsPackForm(subPackOfferForm.$valid)" >{{buttonLabel}}</button>
                <button type="reset" class="btn btn-default btn-w-md" title="Reset" data-ng-click="resetForm()">Reset</button>
            </div>
        </div>
    </div>
</form>

