<form method="post" class="form-horizontal" role="form" name="valuePackOfferForm" data-ng-submit="submitValuePackForm(valuePackOfferForm.$valid)" novalidate>
    <div class="row">
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-8 col-xs-8">
            <div class="portlet">
                <div class="portlet-content">
                    <div class="col-md-12">
                        <label for="valuePackPlan" class="col-sm-3 control-label">Select Value pack</label>
                        <div class="col-md-5">
                                <select data-ng-options="item.vp_id as item.vp_plan_name for item in valuePackPlans"
                                        multiple class="form-control"  name="valuePlan" id="valuePlan" data-ng-model="selectedValuePacks">
                                </select>
                                <span style="color: red" data-ng-show="valuePackOfferForm.$submitted || valuePackOfferForm.valuePlan.$dirty">
                                   <!--  <span ng-show="valuePackOfferForm.valuePlan.$error.required">Please Select value pack plan name.</span> -->
                                </span>
                            </div>
                        </div>
                    </div> <!-- /.row -->
                </div>
            </div>
        <div class="col-md-2 col-xs-2"></div>

    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-5 col-md-7" >
                <button type="submit" class="btn btn-primary btn-w-md" title="Save">Submit</button>
                <button type="button" class="btn btn-small" ng-click="nextButtonPressed = 1;submitValuePackForm(valuePackOfferForm.$valid)" >{{buttonLabel}}</button>
                <button type="reset" class="btn btn-default btn-w-md" title="Reset" data-ng-click="resetForm()">Reset</button>
            </div>
        </div>
    </div>
</form>

